<%- include('./partials/header') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-7">1</div>
            <div class="col-5">
                <div class="h1 mb-5">Login</div>
                <form id='login'>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/fgotpwd" class="ms-4 link-primary">Forgot Password?</a>
                    <a href="/register" class="ms-4 link-primary">Register</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        // const log = console.log;
        // const form = document.getElementById('login')
        // form.addEventListener('submit', userLogin)
        // function userLogin(e){
        //     e.preventDefault();
        //     const email = document.getElementById('email').value;
        //     const password = document.getElementById('password').value;
        //     const formData = {email, password}

        //     fetch('/api/login', { 
        //         method: 'POST',
        //         headers: {'Content-Type': 'application/json'},
        //         body: JSON.stringify(formData)
        //     }).then((resp)=>resp.json()).then(data => {
        //         // log(data.email, data._id)
        //         if(data.email === email) {
        //             location.assign('/')
        //         }else{
        //             alert('invalid login details')
        //             return false
        //         }
        //         // localStorage.setItem("jwt", data.token);
        //     }).catch((err) => {
        //         console.log('error', err)
        //     })
        // }
    </script>
<%- include('./partials/footer')%>